
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #5f6fff;
}

*{
  font-family: outfit ;
}

.active hr {
  @apply block;
}

:root {
  --color-primary: #5f6fff;
}

::-webkit-scrollbar{
  @apply hidden;
}
